* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(129, 125, 80);
}

h1 {
    text-align: center;
}

body > div:nth-child(2){
    display: flex;
    justify-content: center;
    padding: 5px;
}

body > div:nth-last-child(2) {
    display: grid;
    grid-template-rows: 1fr 5fr;
}

form {
    background-color: rgb(92, 94, 94);
    padding: 0 20px;
    grid-template-columns: repeat(4, 2fr) 1fr;
    align-items: center;
    display: none;
}

form > div:last-child {
    justify-self: end;
}

.book-display {
    display: grid;
    grid-template-columns: repeat(auto-fill, 19.7vw);
    grid-template-rows: repeat(auto-fill, 47.4vh);
    grid-auto-rows: 47.4vh;
    gap: 5px;
}

.book {
    background-color: blanchedalmond;
    border-left: burlywood solid 2vw;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.title {
    text-align: center;
    font-size: 25px;
    font-weight: 700;
}

.author {
    text-align: center;
    font-size: 18px;
    font-style: italic;
}

.pages {
    text-align: center;
}

.read {
    font-size: 18px;
}

.book > div:last-child {
    align-self: end;
    justify-self: center;
}

.book > div:last-child div {
    display: flex;
    justify-content: center;
}

.book > div:last-child div:first-child {
    gap: 5px;
    padding-bottom: 5px;
}