* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(129, 125, 80);
}

h1 {
    text-align: center;
}

body > div:nth-child(2){
    display: flex;
    justify-content: center;
    padding: 5px;
}

form {
    position: fixed;
    left: 38vw;
    top: 38vh;
    background-color: rgb(92, 94, 94);
    padding: 20px 40px;
    display: none;
}

form > div {
    padding: 5px 0;
}

form > div:last-child {
    justify-self: center;
}

.backdrop {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(129, 125, 80, 0);
    backdrop-filter: blur(3px);
}

.book-display {
    display: grid;
    grid-template-columns: repeat(auto-fit, 19.7vw);
    grid-template-rows: repeat(auto-fit, 47vh);
    grid-auto-rows: 47vh;
    gap: 5px;
}

.book {
    background-color: blanchedalmond;
    border-left: burlywood solid 2vw;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.title {
    text-align: center;
    font-size: 25px;
    font-weight: 700;
}

.author {
    text-align: center;
    font-size: 18px;
    font-style: italic;
}

.pages {
    text-align: center;
}

.read {
    font-size: 18px;
}

.book > div:last-child {
    align-self: end;
    justify-self: center;
}

.book > div:last-child div {
    display: flex;
    justify-content: center;
}

.book > div:last-child div:first-child {
    gap: 5px;
    padding-bottom: 5px;
}